{% extends "documents/project_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}

{% block head %}

{{ block.super }}
{% endblock %}


{% block body_class %}project{% endblock %}

{% block body_outer %}

<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">{{ resource.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-8" id = "general">

    {% if resource.extension|lower in imgtypes and resource.doc_file %}
    <div id="embedded_map">
      <a style="text-decoration:none;" href="{% url "project_download" resource.id %}" target="_blank">
        <img src="{% url "project_download" resource.id %}" width='100%'/>
      </a>
    </div>
    {% elif resource.doc_file %}
    <p><a href="{% url "project_download" resource.id %}" target="_blank">Download the {{ resource }} document</a></p>
    {% elif  resource.doc_url %}
    <p><a href="{{ resource.doc_url }}" target="_blank">Download the {{ resource }} document.</a> <small>({% trans 'External Resource' %})</small></p>
    {%  endif %}

    <div class="documents-actions">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab"><i class="fa fa-info-circle"></i>{% trans "Info" %}</a></li>
        {% if SOCIAL_BUTTONS %}
        <li><a href="#share" data-toggle="tab"><i class="fa fa-share"></i>{% trans "Share" %}</a></li>
        {% endif %}
        <li><a href="#rate" data-toggle="tab"><i class="fa fa-star"></i>{% trans "Ratings" %}</a></li>
        <li><a href="#comments" data-toggle="tab"><i class="fa fa-comment-o"></i> {% trans "Comments" %}</a></li>
      </ul>
    </div>

    <div class="tab-content">
      {% include "base/project_info_panel.html" %}

      {% block social_links %}
        {% include "social_links.html" %}
      {% endblock %}

      <article id="comments" class="tab-pane">
      {% include "_comments.html" %}
      </article>

      <article id="rate" class="tab-pane">
        <!-- TODO: Move this to a reusable template snippet -->
        {% if request.user.is_authenticated %}
        <h4>{% trans "Rate this document" %}</h4>
        {% user_rating request.user resource "document" as user_document_rating %}
        <div id="user_rating" class="category-layer" data-score="{{user_document_rating}}"></div>
        {% endif %}
        <h4>{% trans 'Average Rating' %}</h4>
        {% overall_rating resource "document" as document_rating %}
        {% num_ratings resource as num_votes %}
        <div class="overall_rating" style="float:left" data-score="{{ document_rating }}"></div> ({{num_votes}})
        <!-- TODO: Add display of who gave what rating based -->
      </article>
    </div>
  </div>

  <div class = "col-md-8" id = "metadataPro" style = "display: none;">
    <h6 align = "center"><strong>Metadatos del Proyecto</strong></h6>

    <h6 align = "center">IDENTIFICACIÓN DE LA INFORMACIÓN</h6>

    {% if resource.abstract %}
    <dt>{% trans "Abstract" %}</dt>
    <dd>{{ resource.abstract|escape|urlize|linebreaks|safe|truncatechars:500 }}</dd>
    {% endif %}

    {% if resource.purpose %}
    <dt>{% trans "Purpose" %}</dt>
    <dd>{{ resource.purpose|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
    {% endif %}

    {% if resource.keyword_list %}
    <dt>{% trans "Keywords" %}</dt>
    <dd>{% for keyword in resource.keyword_list %}
        {{ keyword }}
        {% endfor %}</dd>
    {% endif %}

    {% if resource.date %}
    <dt>{% trans "Fecha" %}</dt>
    <dd>{{ resource.date|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
    {% endif %}

   {% if resource.edition %}
   <dt>{% trans "Edición" %}</dt>
   <dd>{{ resource.edition|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
   {% endif %}

   {% if resource.category %}
   <dt>{% trans "Categoria" %}</dt>
   <dd>{{ resource.category|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
   {% endif %}

   {% if resource.academic_coordinator %}
   <dt>{% trans "Coordinador Academico" %}</dt>
   <dd>{{ resource.academic_coordinator}}</dd>
   {% endif %}

   {% if resource.technical_coordinator %}
   <dt>{% trans "Coordinador Tecnico" %}</dt>
   <dd>{{ resource.technical_coordinator}}</dd>
   {% endif %}



    <h6 align = "center">FUENTE DE INFORMACIÓN</h6>

    {% if resource.source %}
    <dt>{% trans "Fuente" %}</dt>
    <dd>{{ resource.source}}</dd>
    {% endif %}

    {% if resource.spatial_representation_type %}
    <dt>{% trans "Tipos de representación espacial" %}</dt>
    <dd>{{ resource.spatial_representation_type|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
    {% endif %}

    {% if resource.project_belong %}
    <dt>Proyecto pertenece</dt>
    <dd>{{ resource.project_belong}}</dd>
    {% endif %}

    {% if resource.knowledge_model %}
    <dt> Modelo de Conocimiento</dt>
    <dd>{{ resource.knowledge_model}}</dd>
    {% endif %}

    {% if resource.colaborators %}
    <dt>Colaboradores</dt>
    <dd>{{ resource.colaborators}}</dd>
    {% endif %}


    <h6 align = "center">INFORMACIÓN DE PRIVACIDAD</h6>


    {% if resource.license %}
    <dt>{% trans "Licencia" %}</dt>
    <dd>{{ resource.license|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
    {% endif %}



    {% if resource.rights %}
    <dt>{% trans "Derechos" %}</dt>
    <dd>{{ resource.rights}}</dd>
    {% endif %}


    {% if resource.disciplines %}
    <dt>Disciplinas</dt>
    <dd>{{ resource.disciplines}}</dd>
    {% endif %}

    {% if resource.credits_to %}
    <dt>Creditos</dt>
    <dd>{{ resource.credits_to}}</dd>
    {% endif %}

    {% if resource.vinc_intitutions %}
    <dt>Instituciones Vinculadas</dt>
    <dd>{{ resource.vinc_intitutions}}</dd>
    {% endif %}

    {% if resource.distribution_url %}
    <dt>URL Aplicación</dt>
    <dd><a href="{{ resource.distribution_url}}" target="_blank">{{ resource.distribution_url}}</a></dd>
    {% endif %}

    {% if resource.develop_arch %}
    <dt>Arquitectura Desarrollo</dt>
    <dd>{{ resource.develop_arch}}</dd>
    {% endif %}

    {% if resource.repo_link %}
    <dt>Liga del Repositorio</dt>
    <dd><a href="{{ resource.repo_link}}" target="_blank">{{ resource.repo_link}}</a></dd>
    {% endif %}

    {% if resource.min_inst_req  %}
    <dt>Requisitos minimos</dt>
    <dd>{{ resource.min_inst_req }}</dd>
    {% endif %}

    <script type = "text/javascript">
      function volver() {
          document.getElementById('metadataPro').style.display='none';
          $("#general").css("display", "block");
        }
    </script>
    <li class="list-group-item" style = "width: 100px;">
      <a style="text-decoration:none;"><button class="btn btn-default btn-md btn-block" id = "atras" onclick="volver();">{% trans "Atrás" %}</button></a>
    </li>
  </div>

  <div class="col-md-4">

    <ul class="list-group">

      <script type = "text/javascript">
        function metadataProject() {
            document.getElementById('metadataPro').style.display='block';
            //document.getElementById('general').style.display='none';
            $("#general").css("display", "none");
          }

          /*function metadataProject(id) {
           var elElemento = document.getElementById(id);
           if(elElemento.style.visibility == "visible") {
              //elElemento.style.visibility = "hidden";
              $("#metadataPro").css("display", "block");
              $("#general").css("display", "none");
           } else {
             elElemento.style.visibility = "visible";

         }
       }*/

      </script>

      <li class="list-group-item">
          <a style="text-decoration:none;"><button class="btn btn-default btn-md btn-block" id = "btn_ver_metadata" onclick="metadataProject();">{% trans "Ver metadato" %}</button></a>
      </li>

      <li class="list-group-item">
        <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#download-metadata">{% trans "Download Metadata" %}</button>
      </li>
      <div class="modal fade" id="download-metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Descargar Proyecto/Aplicación</h4>
            </div>
            <div class="modal-body">
              <ul>
                {% for link in resource.link_set.metadata %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
              <ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      {% get_obj_perms request.user for resource.get_self_resource as "resource_perms" %}
      {% if "change_resourcebase" in resource_perms %}
      <li class="list-group-item">
        <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#edit-document">Editar Proyecto/Aplicación</button>
      </li>
      <div class="modal fade" id="edit-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Editar Proyecto/Aplicación</h4>
            </div>
            <div class="modal-body">
              <ul>
                <li><a href="{% url "project_metadata" resource.id %}">{% trans "Edit Metadata" %}</a></li>
                <li><a href="{% url "project_replace" resource.id %}">Reemplazar este Proyecto/Aplicación</a></li>
                <li><a href="{% url "project_remove" resource.id %}">Eliminar este Proyecto/Aplicación</a></li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <li class="list-group-item">
        <h4>Recursos utilizando este Proyecto/Aplicación</h4>
        {% if layer.maps %}
        <p>Lista de recursos utilizando este Proyecto/Aplicación</p>
        {% endif %}
        <ul class="list-unstyled">
          {% if related.title %}
          <p>Este Proyecto/Aplicación esta relacionado con: {{ resource.content_type.name }}</p>
          <a href='{{ related.get_absolute_url }}'>{{ related.title }}</a>
          {% else %}
          <p>Este Proyecto/Aplicación no esta relacionado con ningún mapa o capa</p>
          {% endif %}
        </ul>
      </li>

      {% if "change_resourcebase_permissions" in resource_perms %}
      <li class="list-group-item">
        <h4>{% trans "Permissions" %}</h4>
        <p>Haga clic en el botón de abajo para cambiar los permisos de este Proyecto/Aplicación</p>
        <p><a href="#modal_perms" data-toggle="modal" class="btn btn-default btn-block" data-target="#_permissions">Cambiar Permisos del Proyecto</a></p>
      </li>
      {% include "_permissions_form.html" %}
      {% endif %}

      {% include "base/_resourcebase_contact_snippet.html" %}

    </ul>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% if SOCIAL_BUTTONS %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
    {% if request.user.is_authenticated %}
        {% user_rating_js request.user resource "document" %}
    {% else %}
        {% overall_rating resource "document" as the_doc_rating %}
    {% endif %}
    {% include 'rating.html' %}
    <script type="text/javascript">
        {% if SOCIAL_BUTTONS %}
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        {% endif %}
    </script>
    {% include "_permissions_form_js.html" %}
{% endblock extra_script %}
